meistertask_token.txt
telegram_token.txt
temp_snapshot.json
a_telegram_usernames.json
b_dentacoin_projects_assigned_to_telegram_groups.json
c_chat_id_telegram_groups.json
temp.py
temp_task_json_example.json
temp_task_json_example2.json

